@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    text-decoration: none;
}

.todo{
    border-radius: 30px;
}

.title-todo h2{
    font-weight: 800;
}

.col-md-1{    
    width: 3.333333%;
}

#edit{
    display: none;
}

.color-yellow{
    padding: 4px;
    border-radius: 5px;
    background: #FF8C00;
}

.color-gray{
    padding: 4px;
    border-radius: 5px;
    background: gray;
}

.color-green{
    padding: 4px;
    border-radius: 5px;
    background: green;
}

#update, #result_search, .btn-none{
    display: none;
}

#result_search{
    width: 80%;
}